.env
__pycache__/
.python
env/
venv/
*.egg-info
dist/
build/
*.pyd
*.pyo


.vscode/
*.code-workspace

DATA/chroma_temp_db_eval/
DATA/faiss_temp_db_eval/
DATA/pinecone_temp_db_eval/
DATA/

*.log
*.key
*.pem

#LLM
*.bin
*.h5
*.pt
